
<%= simple_form_for(holiday, url: holidays_path, local: true) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :holidaytype %>
    <input type="checkbox" id="one_day_event" onchange="toggleEndHoliday()" /> One day event
    <%= f.input :startholiday, as: :string, input_html: { id: "holiday_date" } %>

    <div id="endholiday_wrapper">
      <%= f.input :endholiday, input_html: { id: "endholiday_date" } %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script>
function toggleEndHoliday() {
  var oneDayEvent = document.getElementById('one_day_event').checked;
  var endHolidayWrapper = document.getElementById('endholiday_wrapper');
  var endHolidayDate = document.getElementById('endholiday_date');
  if (oneDayEvent) {
    endHolidayWrapper.style.display = "none";
    endHolidayDate.value = ""; // Clear the value
  } else {
    endHolidayWrapper.style.display = "block";
  }
}
</script>