<div id="<%= dom_id leafe %>">
  <p>
    <strong>Startdate:</strong>
    <%= leafe.startDate %>
  </p>

  <p>
    <strong>Enddate:</strong>
    <%= leafe.endDate %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= leafe.duration %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= leafe.status %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= leafe.notes %>
  </p>

  <p>
    <strong>Attachment:</strong>
    <%= leafe.attachment %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= leafe.name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= leafe.comment %>
  </p>

</div>
