<section class="mt-20">
  <div class="h-full">
    <!-- Left column container with background-->
    <div
      class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between">
      <div
        class="shrink-1 mb-12 grow-0 basis-auto md:mb-0 md:w-9/12 md:shrink-0 lg:w-6/12 xl:w-6/12">
        <img
          src="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="w-full"
          alt="Sample image" />
      </div>

      <!-- Right column container -->
      <div class="mb-12 md:mb-0 md:w-8/12 lg:w-5/12 xl:w-5/12">
        <h1 class="text-6xl font-bold text-center">Sign In</h1>
        <br/><br/>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <!-- Email input -->
          <div class="mb-4">
            <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
            <%= f.input_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-full mt-1 block w-full" %>
          </div>

          <div class="mb-6">
            <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
            <%= f.input_field :password, autocomplete: "current-password", class: "input input-bordered w-full" %>
          </div>

          <div class="flex items-center justify-between mb-6">
            <div class="flex items-center">
              <%= f.input_field :remember_me, as: :boolean, class: "checkbox h-5 w-5 text-blue-600 mr-2" if devise_mapping.rememberable? %>
              <%= f.label :remember_me, class: "text-gray-700" if devise_mapping.rememberable? %>
            </div>
            <div>
              <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-blue-500 hover:underline" %>
            </div>
          </div>

          <div class="form-actions flex justify-center items-center p-3 border-t border-gray-200 rounded-b dark:border-gray-700">
            <%= f.button :submit, "Sign In", class: "inline-flex items-center w-40 px-3 py-2 text-sm font-medium text-center text-white bg-blue-600 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>